.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #223343;
  width: 100vw;
  height: 100vh;
  padding: 10% 5%;

  overflow-y: hidden;
}

.popup .content {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
}

.popup .content h2 {
  font-size: 28px;
  font-weight: 600;
}

.popup .content h2 span {
  font-size: 20px;
  font-weight: 300;
}

.popup .content .rating {
  margin-bottom: 30px;
}

.popup .content .plot {
  display: flex;
  flex-direction: row;
}

.popup .content .plot img {
  flex: 1 1 50%;
  max-width: 300px;
}

.popup .content .plot p {
  flex: 1 1 50%;
  margin: 15px 25px;
}

.popup .content .closePopup-btn {
  display: inline-block;
  padding: 15px 30px;
  margin: 25px 0px;
  font-size: 18px;
  font-weight: 700;

  background-color: #4484c4;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;

  transition: 0.4s ease-out;
}

.popup .content .closePopup-btn:hover {
  background-color: #fff;
  color: black;
}
